body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: aquamarine;
  font-family:  Courier;
}
.form{
 background-color: white;
 padding: 20px;
 box-shadow: 0 4px 8px rgba(0,0,0,.5);
 border-radius: 10px;
 margin: 10px;
}
.input{
  display: block;
  width:100%;
  box-sizing: border-box;
 font-size: 30px;
 text-align: center;
 padding: 10px;
 border:solid 4px gray;

}
 .input::placeholder{
  color: rgb(11, 97, 126);
  font-family: 'Courier New', Courier, monospace;
 }
 .btn{
     background-color: rgb(51, 89, 138);
     color: white;
     border: none;
     display: block;
     width: 100%;
     padding: 10px;
     font-size: 20px;
     margin: 20px 0;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.3);
     cursor: pointer;
 }
 .btn:hover{
  filter: brightness(0.7);
 }
 .score{
  color: rgb(51, 89, 138);
  text-align: right;
  font-weight: 600;
  font-size: 25px;
 }